.box {
    width: 200px;
    height: 100px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
}

.box:hover {
    transform: scale(1.1);
}

.box1 {
    background-color: #ffcc99;
    border: 2px solid #ff0000;
    padding: 20px;
    background: linear-gradient(to right, #ffcc99, #ff0000);
}

.box2 {
    background-color: #99ffcc;
    border: 2px solid #00ff00;
    padding: 20px;
    background: radial-gradient(circle at center, #99ffcc, #00ff00);
}

.box3 {
    background-color: #ccccff;
    border: 2px solid #0000ff;
    padding: 20px;
    background: conic-gradient(from 0deg to 180deg, #ccccff, #0000ff);
}